<div class="student-tile-card card">
  <div class="card-block">
    <h4 class="card-title"><%= student.full_name %></h4>
    <p class="card-text">Grade: <%= student.grade %></p>
    <%= link_to student.shadow_spots.empty? ? "Sign #{student.first_name} up to shadow" : "Change #{student.first_name}'s schedule",
      new_student_shadow_path(student_id: student.id),
      html_options = { class: "btn btn-primary" } %>
  </div>
</div>
