<h2>Registration for <%= @rp.name %></h2>
<h5>Begin by selecting student to register</h5>
<div class="row registration-checklist">
  <div class="col-md-5 box">
    <%= render "parents/student_registration_box" %>
  </div>
</div>