<div class="row">
  <div class="col-7">
    <h2>Registration Page: <%= @student.full_name %></h2><br>
  </div>
  <div class="col-5">
    <%= render "current_course_fees" %>
  </div>
</div>
<div class="row">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>
</div>
