<div class="row">
  <div class="col-8 registration-header-box">
    <h2><%= page_title %></h2><br>
  </div>
  <div class="col-4 current-total-box-container">
    <%= render "current_course_fees" %>
  </div>
</div>
<div class="row registration-progress-bar-row">
  <%= render "progress_bar" %>
</div>
