$selectedCourse = $("#course-<%= @course.id %>")

<% if @registered %>
  $selectedCourse.addClass("registered");
<% else %>
  $selectedCourse.append("<br><span class='alert'><%= @error_content %></span>");
<% end %>
