<% if @dropped %>
  $("#course-<%=@course.id %>").removeClass("registered");
  location.reload()
<% else %>
  location.reload()
  $("#course-<%= @course.id %>").append("<br><span class='alert'><%= @error_content %></span>");
<% end %>
