$selectedCourse = $("#course-<%= @course.id %>")

<% if @dropped %>
  $selectedCourse.removeClass("registered");
  $selectedCourse.siblings(".register-grid-class-card").children(".alert").remove()
<% else %>
  $selectedCourse.append("<br><span class='alert'><%= @error_content %></span>");
<% end %>
