$selectedSection = $("#section-<%= @section.id %>")
$duplicateSection = $(".twice_a_week#section-<%= @section.id %>")

<% if @dropped %>
  $selectedSection.removeClass("registered");
  $selectedSection.siblings(".register-grid-class-card").children(".alert").remove();
  $("#tuition-total").text("<%=@tuition_total%>")
  if ($duplicateSection.length > 0) {
    $duplicateSection.removeClass("registered");
    $duplicateSection.siblings(".register-grid-class-card").children(".alert").remove();
  }
<% else %>
  $selectedSection.append("<br><span class='alert'><%= @error_content %></span>");
<% end %>
