<% if @dont_show_header %>
  <h2>Edit Photo Consent</h2>
<% else %>
  <%= render("registrations/registration_header", { page_title: "Photo Consent Response", student: @student, rp: @rp })%> 
<% end %>
<%= render "form" %>