<div class="row course-card bordered-section">
  <div class="col-md-12">
    <h4 class="course-name">
      <%= course.name %>
    </h4>
  </div>
    <!-- <div class="col-md-offset-1 col-md-11 course-description">
      <p><%= course.description %></p>
    </div> -->
  <div class="col-md-offset-1 col-md-11">
    Grades: <%= course.grades %>
  </div>
  <div class="col-md-offset-1 col-md-11">
    Additional Course Fee: $<%= course.fee %>
  </div>
</div>
