<div class="row course-card bordered-section">
  <div class="col-md-12" tooltip="<%= course.description %>">
    <span class="course-name">
      <%= course.name %> <span class="small-text"><%= "- One-Time Course Fee: $#{course.fee}" if course.fee > 0 %></span>
    </span>
  </div>
</div>
