<div class="row course-card bordered-section">
  <div class="col-md-12" tooltip="<%= course.description %>">
    <span class="course-name">
      <%= course.name %> - Additional Course Fee: $<%= course.fee %>

    </span>
  </div>
</div>
