Here are the courses for which <%= @student.full_name %> is eligible:
<div class="row">
  <div class="col-md-6">
    <% @subject_areas.each do |subject| %>
      <div class="row">
        <h4 class="subject"><%= subject %></h4>
        <div class="col-md-12">
          <% @available_courses.each do |course| %>
            <%= render("course_tile", course: course) if course.subject_area == subject %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-6">
    <%= link_to( "Click here to go to the Registration Page", 
          { controller: "registrations", action: "index", student_id: @student.id },
          class: "custom_button go-to-registration-button" )
    %>
  </div>
<div>
