<h2>Admin Dashboard</h2>
<div class="row">
  <div class="box shadow col-md-12 col-xs-12 col-sm-12">
    <div class="row">
      <div class="col-md-4 col-sm-6 block justify-content-center">
        <div class="rounded-circle circle"><p>Here is some text</p></div>
      </div>
      <div class="col-md-4 col-sm-6 block justify-content-center">
        <div class="rounded-circle circle"><p>Here is some text</p></div>
      </div>
      <div class="col-md-4 col-sm-6 block justify-content-center">
        <div class="rounded-circle circle"><p>Here is some text</p></div>
      </div>
    </div>
  </div>
</div>
