<h3>Enrollment Forms</h3>
<div class="row enrollment-forms-box-row">
  <div class="col-md-12">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdueEmHJoVsjpHd5uqqPB2M8EGrPiQEZykvIol8EZhay75_7A/viewform?usp=preview" target="_blank" class="custom-button">Parent Agreement</a>
  </div>
</div>
<div class="row enrollment-forms-box-row">
  <div class="col-md-12">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfklDfRG093gh9Xq5QVIKXOB5EMNCS_hC1oLmSrYf7z-v6ccw/viewform?usp=dialog" target="_blank" class="custom-button">Medical and Photo Consent</a>
  </div>
</div>
<div class="row enrollment-forms-box-row">
  <div class="col-md-12">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSctckCQZMTFwzwDPpPSK1qmugUNxuEmm2OlB_q7QhOqO5FeMA/viewform?usp=dialog" target="_blank" class="custom-button">Release of Liability</a>
  </div>
</div>

<h3>Other Forms / Links</h3>
<div class="row enrollment-forms-box-row">
  <div class="col-md-12">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSe2czCUlFRHsEHdHK1pqwRzuv5r-8wPxUVn24qTRvuzvk4Prw/viewform?usp=sharing" target="_blank" class="custom-button">Class Change Request Form</a>
  </div>
</div>
<div class="row enrollment-forms-box-row">
  <div class="col-md-12">
    <a href="https://www.webtutorialnashville.com/donations-tickets" target="_blank" class="custom-button">Donation and Tickets Page</a>
  </div>
</div>
<div class="row enrollment-forms-box-row">
  <div class="col-md-12">
    <a href="https://drive.google.com/file/d/1J_akGOFyd7bMs9DGPdilp057yPwevpyj/view?usp=sharing" target="_blank" class="custom-button">WEB Handbook 2025/26</a>
  </div>
</div>
<div class="row enrollment-forms-box-row">
  <div class="col-md-12">
    <a href="https://signin.methodportal.com/webtutorialnashville" target="_blank" class="custom-button">Invoice Portal</a>
  </div>
</div>