<h3>Enrollment Forms</h3>
<div class="row enrollment-forms-box-row"><%= render "parent_agreement" %></div>
<div class="row enrollment-forms-box-row"><%= render "photo_consent" %></div>
<div class="row enrollment-forms-box-row"><%= render "release_of_liability" %></div>
<div class="row enrollment-forms-box-row"><%= render "student_forms" %></div> 