<h3>Enrollment Forms</h3>
<div class="row enrollment-forms-box-row"><%= render partial: "parent_agreement", locals: { dont_show_header: @dont_show_header } %></div>
<div class="row enrollment-forms-box-row"><%= render "photo_consent" %></div>
<div class="row enrollment-forms-box-row"><%= render "release_of_liability" %></div>
<div class="row enrollment-forms-box-row"><%= render "student_forms" %></div> 