<h3>Enrollment Forms</h3>
<div class="row enrollment-forms-box-row">
  <div class="col-md-12">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLScOpziAg70VlhYCCpu89NI0T6Vcg3ZpqexG0DrIzDuVjazCbg/viewform?usp=header target="_blank" class="custom-button">Parent Agreement</a>
  </div>
</div>
<div class="row enrollment-forms-box-row">
  <div class="col-md-12">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLScOpziAg70VlhYCCpu89NI0T6Vcg3ZpqexG0DrIzDuVjazCbg/viewform?usp=header" target="_blank" class="custom-button">Medical and Photo Consent</a>
  </div>
</div>
<div class="row enrollment-forms-box-row">
  <div class="col-md-12">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSem9wfUdf6yPa9FTgZFKBR_GKIFhy4viqmuonN2eISTHkV51A/viewform?usp=publish-editor" target="_blank" class="custom-button">Release of Liability</a>
  </div>
</div>

<h3>Other Forms / Links</h3>
<div class="row enrollment-forms-box-row">
  <div class="col-md-12">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSesm59opDtQcSGtpZ1Ie0fGVyHsk3A8ya9LpgRrm23Yfpmsnw/viewform?usp=publish-editor" target="_blank" class="custom-button">Class Change Request Form</a>
  </div>
</div>
<div class="row enrollment-forms-box-row">
  <div class="col-md-12">
    <a href="https://www.webtutorialnashville.com/donations-tickets" target="_blank" class="custom-button">Donation and Tickets Page</a>
  </div>
</div>
<div class="row enrollment-forms-box-row">
  <div class="col-md-12">
    <a href="https://drive.google.com/file/d/1By_wr1QfsuyDtHrHpSdFx2-_emww2Oxg/view?usp=drivesdk" target="_blank" class="custom-button">WEB Handbook</a>
  </div>
</div>
<div class="row enrollment-forms-box-row">
  <div class="col-md-12">
    <a href="https://signin.methodportal.com/webtutorialnashville" target="_blank" class="custom-button">Invoice Portal</a>
  </div>
</div>