<h3>Students</h3>
<% if current_parent.students.empty? %>
  <div class="row">
    Click below to create your first student
  </div>
<% else %>
  <div class="row">
    Click on a student to begin registration
  </div>
  <div class="container row">
    <ul class="col-12">
      <% @students.each do |s| %>
        <li class=" enrollment-forms-box-row row">
          <div class="col-md-6">
            <%= link_to(
              s.full_name, 
              parent_registration_period_student_view_course_list_path(
                parent_id: current_parent.id,
                registration_period_id: @rp.id,
                student_id: s.id
              ), class: "col-xs-6"
            ) %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="container new-student-btn row">
  <%= link_to "Add a new student",  new_student_path, class: "btn btn-primary" %>
</div>