<h3>Students</h3>
<% if current_parent.students.empty? %>
  <div class="row">
    Click below to create your first student
  </div>
<% else %>
  <div class="container row">
    <ul>
      <% @students.each do |s| %>
        <li class=" enrollment-forms-box-row row">
            <%= s.full_name %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="container new-student-btn row">
  <%= link_to "Add a new student",  new_student_path, class: "btn btn-primary" %>
</div>