<h2>WEB Statement Regarding COVID-19</h2>
<div class="row">
  <div class="box shadow col-md-12 col-xs-12 col-sm-12">
    <p>From the WEB Release of Liability Agreement (required for enrollment at WEB):

    <p>With regards to the risk of contracting or disseminating COVID-19 viral infections, I promise to self-screen and screen my student for new symptoms. I promise to comply with the practices that WEB is implementing to protect everyone as best as possible using guidelines published by the CDC. I understand that procedures may need to be adjusted or changed over time and I will read information provided and comply with the requests that are in the best interests of the community. WEB reserves the right to require masks for a period of time in the event of a new COVID variant outbreak or a flu outbreak, especially if CDC recommendations change.

    <p>Read the full Liability Release <a href= "http://www.webtutorialnashville.com/release-of-liability" target="_blank">here</a>.

    <p>Please click the box below to indicate you have read and agree to these terms:
    <div class="row"><%= link_to "Click here to agree to the statement", acknowledge_covid_statement_path, class: "col-4 custom-button"%></div>
  </div>
</div>
