<h2>Home</h2>
<div class="row registration-checklist">
  <div class="col-md-5 box">
    <%= render "student_registration_box" %>
  </div>
</div>

<div class="row registration-checklist">
  <div class="col-md-5 box">
    <%= render "enrollment_forms_box" %>
  </div>
</div>