<h2>Home</h2>
<% if current_parent.open_registration_periods.include? RegistrationPeriod::CURRENT_RP %>
  <div class="row">
    <div class="col-md-12 box">
      <h5>Registration is now open for <%= RegistrationPeriod::CURRENT_RP.name %> </h5>
      <%= link_to(
        "Click Here To Begin", 
        parent_registration_period_select_student_path(
          current_parent.id, 
          RegistrationPeriod::CURRENT_RP.id
        ),
        class: "custom-button view-invoice-button col-3"
      ) %>
    </div>
  </div>
<% end %>
<div class="row registration-checklist">
  <div class="col-md-5 box">
    <%= render "student_list" %>
  </div>
</div>
<% unless @should_not_show_enrollment_forms %>
  <div class="row registration-checklist">
    <div class="col-md-5 box">
      <%= render "enrollment_forms_box" %>
    </div>
  </div>
<% end %>