<h2>Grades</h2>
<% @students.each do |student| %>
  <% student.registrations.joins(:section).where(sections: { published: true }).each do |registration| %>
    <%= render(partial: "student_grades", locals: { student: student, registration: registration }) %>
  <% end %>
<% end %>