<h2>Grades</h2>
<% @students.each do |student| %>
  <% if @registrations[student] %>
    <%= render partial: "student_grades", locals: { student: student, registrations: @registrations[student] } %>
  <% end %>
<% end %>