canvas {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	padding: 50px;
	padding-bottom: 150px;
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
  
@import "bootstrap";
@import "squarespace";
@import "global";
@import "courses";
@import "custom";
@import "dashboard";
@import "enrollments";
@import "registrations";
@import "shadow_spots";
@import "student_shadow";
@import "student";
@import "subject";
@import "teacher";
@import "bootstrap-datepicker";
@import "parent_agreements";
@import "release_of_liabilities";
@import "photo_consents";
@import "medical_forms"
