@import "bootstrap-sprockets";
@import "bootstrap";

*, h1, h2, .alert, .notice, .student-form, .student-shadow-form {
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
}

.alert {
  color: red;
}

.notice {
  color: black;
}

.alert, .notice {
  text-align: center;
}

.nav-container {
  width: 100%;
}

.content-container {
  width: 100%;
  margin: 0 auto;
}

.student-tile-btn, .student-tile-div {
  margin: 0 auto;
  text-align: center;
  padding: 3px;
}

.student-tile {
  width: 24%;
}

.student-list-container, {
  width: 100%;
}
