.rounded-circle {
  border: solid;
  border-color: black;
  height: 160px;
  width: 160px;
}

/*--CSS--*/
 .block {
    text-align: center;
    vertical-align: middle;
}
.circle {
    border-radius: 200px;
    height: 200px;
    font-weight: bold;
    width: 200px;
    display: table;
    margin: 20px auto;
    float: left;
}
.circle p {
    vertical-align: middle;
    display: table-cell;
}
