// Place all the styles related to the Enrollments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-enrollment-form {
  font-family: Futura;
  text-align: center;
  margin: auto;
}

.form-group {
  display: inline-block;
  float: left;
}

h2.student-form {
  text-align: center;
  margin: auto;
}

.enrollment-form-radio-button, .enrollment-form-radio-label, .enrollment-form-radio-group {
  display: inline-block;
  padding-right: 2px;
  padding-left: 2px;
}

li.student-tile {
  display: block;
  list-style: inherit disc inside;
}

.bordered-section {
  border-color: gray;
  border-width: thin;
  border-style: solid;
}

textarea {
  width: 100%;
}

.long-label {
  height: auto;
  margin: auto;
}

.learning-differences-description {
  font-family: Futura;
  font-size: 12px;
  font-weight: lighter;
}

input[type=submit] {
  width: 100%;
}

.course-description p{
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
  font-style: italic;
}

.course-card {
  h3, p {
    margin: 0px;
  }
}

.mobile-class[tooltip]:before {
  left: 10%;
  width: 90%;
}

[tooltip]:before {
  position : absolute;
  left: 100%;
  width: 100%;
  content : attr(tooltip);
  opacity : 0;

  /* customizable */
  transition: all 0.15s ease;
  padding: 10px;
  color: #333;
  border-radius: 10px;
  box-shadow: 2px 2px 1px silver;
}

[tooltip]:hover:before {
  opacity : 1;
  /* customizable */
  background: #eeeeee;
  margin-top: -50px;
  margin-left: 20px;
  z-index: 100;
}

[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}

.custom-button {
  background-color: #ccc;
  border: none;
  color: black;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 8px;
}

.go-to-registration-button {
  position: relative;
  top: 200px;
}

.small-text {
  font-size: 11px;
}

label.required:after{content:"*"}

.grade-form {
  display: block;
}

#canvas {
  padding-bottom: 150px;
}
