.register-grid-class-card {
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 4px;
}

.register-grid-class-card:hover{
  border-width: 3px;
}

.registered {
  border-width: thick;
  border-color: rgb(100,100,100);
}

.invoice-total h5 {
  border-top: solid black;
  padding-top: 10px;
}

.invoice-title {
  padding-left: 10px;
}

.invoice, .tuition, .donate {
  margin-top: 20px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

#tuition-preference-actual-form {
  display: none;
}

.custom-button {
  background-color: #ccc;
  border: thin solid #bbb;
  color: black;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 8px;
  margin: auto;
  text-align: center;
}

.student-schedule-card {
  border-top: solid black;
  border-left: solid black;
  padding-top: 10px;
  padding-left: 25px;
  background: #fafafa;
  border-radius: 8px;
}

.registration-copy {
  color: black
}

.registration-grid {
  margin-top: 15px;
}

.registration-button-div {
  text-align: center;
  margin: auto;
}

.view-invoice-button {
  margin-top: 15px;
}

input[type="submit"].update-payment-button, {
  width: 50%;
  margin: auto;
  text-align: center;
}

input[type="submit"].update-donation-amount {
  width: 70%;
  margin: auto;
  text-align: center;
}

.edit-parent {
  text-align: center;
  margin: auto;
}

.study-hall-alert {
  color: red;
}

col-xs-6 {
  width: unset;
}
